{
  //"parser": "@typescript-eslint/parser",
  //"parser": "babel-eslint",
  "plugins": [
    "react-hooks",
    "@michaelkramer/eslint-plugin-facepalm"
  ],
  "extends": [
    "react-app"
  ],
  "env": {
    "node": true
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": true
      }
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-console": "warn",
    "@michaelkramer/facepalm/no-comment-console": "warn",
    "@michaelkramer/facepalm/no-useless-comments": "warn",
    "arrow-parens": "error",
    "eqeqeq": [
      "error",
      "always"
    ],
    "space-before-function-paren": 0,
    "no-multiple-empty-lines": "error",
    "no-unused-vars": [
      0,
      {
        "argsIgnorePattern": "^_",
        "ignoreRestSiblings": true
      }
    ],
    "react/prop-types": [
      0
    ],
    "react/jsx-handler-names": 0,
    "react/jsx-fragments": 0,
    "react/no-unused-prop-types": 0,
    "import/export": 0,
    "quotes": [
      "error",
      "double",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "no-restricted-syntax": [
      "error",
      {
        "selector": "CallExpression[callee.object.name='console'][callee.property.name!=/^(log|warn|error|info|trace)$/]",
        "message": "Unexpected property on console object was called"
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "**/*.ts",
        "**/*.tsx"
      ]
    }
  ]
}
