body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  font-size: 3em;
  text-align: center;
}

h3 {
  font-size: 2em;
}

.inputForm {
  padding-left: 3em;
  padding-bottom: 1em;
}
.inputForm label {
  font-size: 2.5em;
}

.inputForm input {
  font-size: 38px;
  border-radius: 10px;
  border-color: #ccc;
  border-style: solid;
}

.list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 25%);
}

.themeSet h3 {
  text-align: center;
}

.iconSet {
  display: grid;
  grid-template-columns: repeat(auto-fill, 50%);
}

.list {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.themeSet {
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
/*
.themeSet h3 {
  text-align: center;
  flex: 0 0 100%;
}
*/
.iconSet {
  /* display: flex;
  flex-wrap: wrap; */
  padding: 0;
}

.iconSet li {
  /* flex: 1 0 26%;
  flex-direction: column; */
  list-style: none;
  padding: 1em;
  text-align: center;
}

.iconSet span {
  font-size: 48px;
}
